body, p
  line-height: $base-line-height
  letter-spacing: rem-calc(1)

span.break
  display: block

.field_with_errors
  > input, textarea
    border-color: $alert-color
  > label
    color: $alert-color

.downcase
  text-transform: lowercase

.text-intro
  font-weight: $font-weight-normal
  font-size: rem-calc(24)
  line-height: rem-calc(36)

.text-bold
  font-weight: $font-weight-bold

.text-center
  text-align: center

.color-accent
  color: $accent

.header-1
  color: $accent
  font-size: rem-calc(72)
  letter-spacing: rem-calc(2)
  line-height: rem-calc(78)
  font-weight: normal
  @media #{$small-only}
    font-size: rem-calc(54)
    line-height: rem-calc(60)

.header-2
  color: $accent
  font-size: rem-calc(64)
  letter-spacing: rem-calc(2)
  line-height: rem-calc(72)
  font-weight: normal
  @media #{$small-only}
    font-size: rem-calc(48)
    line-height: rem-calc(54)

.header-3
  color: $accent
  font-family: $body-font-family
  font-size: rem-calc(30)
  font-weight: normal
  letter-spacing: rem-calc(1)
  line-height: rem-calc(36)
  @media #{$small-only}
    font-size: rem-calc(18)
    line-height: rem-calc(24)

.header-4
  color: $text
  font-family: $body-font-family
  font-size: rem-calc(24)
  font-weight: bold
  letter-spacing: rem-calc(1)
  line-height: rem-calc(30)
  @media #{$small-only}
    font-size: rem-calc(18)
    line-height: rem-calc(24)
