//
// Typography
//
$logo-font-family: "Quicksand", sans-serif

//
// Colors
//
$teal: #5fb7aa

//
// Legacy Variables
//
$red: #c15238
$brown: #574435
$beige: #f6f5dd
$light-beige: #fcfaee
$green: #5fb7aa
$dark-green: #428075
$yellow: #fece00
