//
// Typography
//
$logo-font-family: "Quicksand", sans-serif

//
// Colors
//
$text: #434343
$text-mid: #888
$text-subtle: #CCC

$action: #008CBA
$action-alt: #FFD400

$accent: #5fb7aa

// Semi-legacy
$grey: $text
$teal: $accent
$white: #ffffff
$yellow: $action-alt

$background: #FAFAF6

$body-font-color: $grey
$header-font-color: $teal

//
// Legacy Variables
//
$red: #c15238
$brown: #574435
$beige: #f6f5dd
$light-beige: #fcfaee
$green: #5fb7aa
$dark-green: #428075
