//
// Typography
//
$logo-font-family: "Quicksand", sans-serif

//
// Colors
//
$background: #FAFAF6
$background-callout: #EEE

$text: #434343
$text-mid: #888
$text-subtle: #CCC

$accent: #5fb7aa

$action: #008CBA
$action-alt: #FFD400
$action-alt-hover: #f4b930
$action-alt-text: #5D4B00
