.programmes .programme-tile
  margin-bottom: 1rem

.programme--programme
  margin-bottom: 2rem

.programme-tile
  background: $background-callout
  border-radius: $global-radius
  padding: 0.5rem 1rem

.programme-tile--photo
  img
    margin-bottom: 10px

.programme-tile--meta
  margin-bottom: 1rem
  .time
    font-size: 0.8em

.programme-tile--details
  background-color: $background-callout
  border-radius: $global-radius
  .byline, .description
    margin-bottom: 0.5em

.programme-timeline-tile
  margin-bottom: 0.5rem

  .programme-tile--time
    padding: 0.5rem
    color: $accent
    font-size: rem-calc(24)
    font-weight: 500
    line-height: 0.8em
    text-align: right
    width: 100%
    .meridiem
      font-size: rem-calc(10)

  .programme-tile--details
    padding: 0.25rem 0.5rem

  .programme-tile--category
    font-size: rem-calc(12)
    line-height: 1em
    text-transform: uppercase

  .programme-tile--industry
    font-size: rem-calc(12)

  .programme-tile--byline
    font-size: rem-calc(12)
