.speaker--more-speakers
  margin-top: 2rem

.speaker--description
  text-align: justify

.speaker--links
  margin-top: 1rem
  li i.fa
    font-size: rem-calc(23)

.speaker--programmes .programme-tile
  margin-bottom: 1rem

.speaker--publication
  background: $background-callout
  border-radius: $global-radius
  img
    border-radius: $global-radius 0 0 $global-radius
    float: left
  .speaker--publication-info
    margin-left: 100px
    padding: rem-calc(10)
  .speaker--publication-type
    font-weight: bold
  .speaker--publication-footer
    clear: both

.row.speaker-profile-container
  margin-bottom: 2rem

.speaker-tile
  background-color: $background-callout
  border-radius: $global-radius
  margin-bottom: 1rem

.speaker-tile--photo img
  width: 100%
  border-radius: $global-radius $global-radius 0 0
  @media #{$small-only}
    border-radius: $global-radius 0 0 $global-radius

.speaker-tile--details
  background-color: $background-callout
  border-radius: $global-radius
  padding: 0.5rem 1rem
  @media #{$small-only}
    padding: 0.25rem 0.5rem

.speaker-tile--name
  font-size: rem-calc(16)

.speaker-tile--profile
  font-size: rem-calc(14)
  margin-bottom: 0

.speaker-tile--details.unpublished .speaker-tile--name
  line-height: rem-calc(75)
  @media #{$small-only}
    line-height: rem-calc(88)
