header.speaker--header
  .title
    margin-bottom: 0
  .speaker--position, .speaker--company
    color: white
    font-size: 1rem
    font-weight: normal
    line-height: 1.2em

.speaker--sidebar
  @media #{$medium-up}
    margin-top: -150px
    height: 100vh

.speaker--photo
  border-radius: rem-calc(500)
  width: 100%

.speaker--description
  text-align: justify

.speaker--links
  margin-top: 1rem
  li i.fa
    font-size: rem-calc(23)

.speaker--programmes .programme-tile
  margin-bottom: 1rem

.speaker--publication
  background: $background-callout
  border-radius: $global-radius
  img
    border-radius: $global-radius 0 0 $global-radius
    float: left
  .speaker--publication-info
    margin-left: 100px
    padding: rem-calc(10)
  .speaker--publication-type
    font-weight: bold
  .speaker--publication-footer
    clear: both

.row.speaker-profile-container
  margin-bottom: 2rem

.speaker-tile
  margin-bottom: 1rem

.speaker-tile--photo img
  width: 100%
  border-radius: rem-calc(500)

.speaker-tile--details
  padding: 3rem 0
  @media #{$small-only}
    padding: 0.25rem 0.5rem
.speaker--more-speakers .speaker-tile--details
  padding: 0 0.5rem
  .speaker-tile--name
    font-size: 1em
  .speaker-tile--profile
    font-size: 0.7em

.speaker-tile--name
  font-size: rem-calc(22)

.speaker-tile--profile
  font-size: rem-calc(14)
  margin-bottom: 0

.speaker-tile--details.unpublished .speaker-tile--name
  line-height: rem-calc(75)
  @media #{$small-only}
    line-height: rem-calc(88)
