.article
  .content-container
    background: $background
  .article-content
    padding: 1rem 0

  .category
    color: white
    margin-top: 1em
    text-transform: lowercase
  .title
    color: white
    margin-bottom: .7em
    text-transform: lowercase
  .meta
    margin: 1rem 0

  .lead-image-container
    margin-left: -10.2em

  .content
    text-align: justify

.infobox.infobox-article
  margin-bottom: 1em
  .header
    padding: 0
  .content
    background-color: $background-callout
    color: $text
  .article-author
    border-right: solid 1px $text-mid
    color: $text-mid
    margin-right: 0.75em
    padding-right: 0.75em
  .article-meta
    color: $text-mid
  .read-more
    text-align: right
